@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Prata&family=Ruda:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap");

.Cormorant-Garamond {
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 1px;
}

.ruda-font {
  font-family: "Ruda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  cursor: default;
  /* font-family: "Ruda", sans-serif; */
  /* font-family: "Source Sans 3", "Source Sans Pro", system-ui, sans-serif; */
  /* font-family: "DM Sans", system-ui, sans-serif; */
  /* font-family: "Roboto", system-ui, sans-serif; */
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.auth-input {
  @apply w-full rounded-full border border-[#e2e2e2] px-4 py-3 text-sm outline-none 
  focus:border-black transition bg-white;
}

.scrollbar-minimal::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-minimal::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.scrollbar-minimal::-webkit-scrollbar-track {
  background: transparent;
}

.resume-scale-wrapper {
  transform: scale(0.6); /* adjust dynamically later */
  transform-origin: top center;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb;
}

.optimize {
  position: relative;
  overflow: hidden;
  background-color: #2563eb ;
}
.optimize::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 5.4s infinite;
}
.slider {
  position: relative;
  overflow: hidden;
  /* background-color: #2563eb ; */
}
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 5.4s infinite;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.4s infinite;
}
@keyframes shimmer {
  100% {
    left: 100%;
  }
}
